In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('final_weather_2004_2011_8.csv', encoding='utf-8')
one_day = df[df['tm']=='2012-01-01 00:00']

C:\Users\yujeyeong\AppData\Local\Temp\ipykernel_28072\3322840456.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('final_weather_2004_2011_8.csv', encoding='utf-8')

In [15]:
sigun = pd.read_csv('2018년소멸위험지수.csv', encoding='cp949')
sigun['sigun_nm']=sigun['sigun_nm'].map(lambda x:x[:-1])
sigun_small=sigun[['sigun_nm','sigun_code']]

In [13]:
df=pd.read_csv('predicted.csv', encoding='utf-8')
df[df['label']==1]
one_day = df[df['일시']=='2012-02-05 15:00:00']

In [19]:
df.iloc[df['label']==1 & df['일시']=='2012-02-05 15:00:00']

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [16]:
sigun_small

    sigun_nm  sigun_code
0         강릉       42150
1         고성       42820
2         동해       42170
3         삼척       42230
4         속초       42210
..       ...         ...
223       제천       43150
224       증평       43745
225       진천       43750
226       청주       43110
227       충주       43130

[228 rows x 2 columns]

In [17]:
one_day_sample=pd.merge(left = one_day , right = sigun_small, how = "inner", left_on = "지점명", right_on = "sigun_nm")
one_day_sample

,Unnamed: 0,일시,지점명,기온,강수량,풍속,풍향,습도,실효습도,label,day_name,Month,pred,proba,sigun_nm,sigun_code
0,855,2012-02-05 15:00:00,속초,6.2,0.0,2.2,140.0,32.0,20.68,1,Sunday,2,1,0.754163,속초,42210
1,22479,2012-02-05 15:00:00,철원,2.5,0.0,1.3,160.0,19.0,21.06,0,Sunday,2,1,0.631059,철원,42780
2,44103,2012-02-05 15:00:00,동두천,5.1,0.0,1.0,140.0,22.0,21.76,0,Sunday,2,1,0.721947,동두천,41250
3,65726,2012-02-05 15:00:00,파주,2.9,0.0,1.5,290.0,29.0,24.43,0,Sunday,2,1,0.689913,파주,41480
4,108972,2012-02-05 15:00:00,춘천,2.9,0.0,1.4,110.0,23.0,22.13,0,Sunday,2,1,0.687121,춘천,42110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1860144,2012-02-05 15:00:00,합천,6.6,0.0,0.6,140.0,35.0,23.81,0,Sunday,2,1,0.736327,합천,48890
58,1881768,2012-02-05 15:00:00,밀양,6.6,0.0,1.6,160.0,31.0,22.20,0,Sunday,2,1,0.756187,밀양,48270
59,1903389,2012-02-05 15:00:00,산청,5.1,0.0,0.6,320.0,46.0,30.35,0,Sunday,2,1,0.674200,산청,48860
60,1925001,2012-02-05 15:00:00,거제,3.0,0.0,0.7,20.0,75.0,37.75,0,Sunday,2,1,0.868929,거제,48310
61,1946619,2012-02-05 15:00:00,남해,1.9,0.0,0.7,90.0,74.0,37.56,0,Sunday,2,1,0.829009,남해,48840

In [18]:
one_day_sample.to_csv('one_day_predicted.csv')

In [4]:
df.기온.tolist()

[5.0,
 4.9,
 4.1,
 4.3,
 3.7,
 3.2,
 3.0,
 3.7,
 6.3,
 8.6,
 10.6,
 12.7,
 14.1,
 14.5,
 15.7,
 16.0,
 16.4,
 15.7,
 14.6,
 13.3,
 12.5,
 11.5,
 10.6,
 9.3]

In [5]:
import json
state_geo1 = json.load(open('TL_SCCO_SIG.json', encoding='utf-8'))

In [6]:
for idx, sigun_dict in enumerate(state_geo1['features']):
    if sigun_dict['properties']['SIG_KOR_NM'] =='안동시':
        print(idx)

86

In [7]:
df.지점명.str

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24 non-null     int64
 1   일시          24 non-null     object
 2   지점명         24 non-null     object
 3   기온          24 non-null     float64
 4   강수량         0 non-null      float64
 5   풍속          24 non-null     float64
 6   풍향          24 non-null     int64
 7   습도          24 non-null     int64
 8   실효습도        24 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 1.8+ KB

In [11]:
df['지점명'].dtype

dtype('O')

In [12]:
type(df['지점명'])

pandas.core.series.Series